---
import Pokemons from '../components/Pokemons.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home Page">
	<main class="py-4 sm:px-20 md:px-32 lg:px-40 ">
    <h1 class="text-4xl text-blue-500 font-bold mb-4">PokeApi</h1>
    <Pokemons url="https://pokeapi.co/api/v2/"/>
  </main>
</Layout>